<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TLQLBadminton"
        android:appComponentFactory="android.app.AppComponentFactory"
        tools:replace="android:appComponentFactory">

        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DangKyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:label="Đăng ký" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:label="@string/title_so_do_san" />

        <activity
            android:name=".activity.NhanSanActivity"
            android:exported="false"
            android:label="@string/title_nhan_san" />

        <activity
            android:name=".activity.DatLichTruocActivity"
            android:exported="false"
            android:label="@string/title_dat_lich_truoc" />

        <activity
            android:name=".activity.ThanhToanActivity"
            android:exported="false"
            android:label="@string/title_thanh_toan" />

        <activity
            android:name=".activity.ThongKeActivity"
            android:exported="false"
            android:label="@string/title_thong_ke_doanh_thu" />

        <activity
            android:name=".activity.CauHinhSanActivity"
            android:exported="false"
            android:label="@string/title_cau_hinh_san" />

        <activity
            android:name=".activity.ThemSanActivity"
            android:exported="false"
            android:label="Thêm sân mới" />

    </application>

</manifest>
